doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Tic Tac Toe implementation')
  body
    div.game-container
      div.message-overlay
        div.message
          div.message-text You have won
        button.game-reset Start Over
      table.game-board
        tbody
          each rowIndex in [0, 1, 2]
            tr.row
              each cellIndex in [0, 1, 2]
                td.cell(data-row=rowIndex data-column=cellIndex)
    div.info-panel You - X, Computer - O